{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	
	{% include 'components/cdn.html' %}

	<!-- custom style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<title>Slider</title>
</head>

<body class="d-flex flex-column">
	<!-- Top row -->
	{% include 'components/header.html' %}

	<!-- Third row -->
	<main>
		<div class="mb-5 container container-fluid">
			<h3 class="font-weight-bold">Here & Now</h3>
			<a href="#carouselExampleIndicators" role="button" data-slide="prev"><i class="fa-sharp fa-solid fa-arrow-left ml-3 my-3" style="color: #222;"></i></a>
			<div id="carouselExampleIndicators" class="carousel slide indicators | mb-5">
				<div class="carousel-inner my-slider">
					{% for image in images %}
					{% if forloop.counter == 1 %}
					<div class="carousel-item active indicators">
						<img class="d-block w-100" style="height: 90%;" src="/{{ image.image }}" alt="First slide">
					</div>
					{% else %}
					<div class="carousel-item indicators">
						<img class="d-block w-100" style="height: 90%;" src="/{{ image.image }}" alt="First slide">
					</div>
					{% endif %}
					{% endfor %}
				</div>
				
			</div>
			
		
		
			<div class="d-flex align-items-center">
				<a href="{{ but_now | default:'#' }}" class="btn btn-outline-dark btn-block mr-2">
					<i class="fa-regular fa-heart mr-2" style="color: #222"></i>
					<b>Buy Now</b>
				</a>
				<a href="#" class="btn btn-danger btn-block mt-0">Try On</a>
			</div>
			<a href="#carouselExampleIndicators" role="button" data-slide="next"><i class="fa-sharp fa-solid fa-arrow-right ml-3 my-3" style="color: #222;"></i></a>
		
		</div>
		
	</main>

	{% include 'components/footer.html' %}
</body>

</html>