{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    {% include 'components/cdn.html' %}

    <!-- custom style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>User Info</title>
</head>

<body class="d-flex flex-column">

    {% include 'components/header.html' %}

    <main>
        <div class="container">
            <div class="user-cards">
                <form action="/select-profile/" method='post'>
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ user.id }}>
                    <input type="hidden" name="user_subuser" value='user'>

                    <div class="user-card">
                        <img src="/{{  user.image }}" alt="" height='150' class="user-card__img">
                        <div class="user-card__body">
                            <h3 class="user-card__title">{{user.first_name}}</h3>
                            {% comment %} <p class="user-card__text mb-1">Height: 6'7"</p> {% endcomment %}
                            <p class="user-card__text mb-1">Gender: {{ user.gender }}</p>
                            <p class="user-card__text mb-1">Age: {{ user.age }}</p>
                            <p class="user-card__text mb-1">Body Size: {{ user.body_size }}</p>
                            <p class="user-card__text mb-1">Height: {{ user.height }}</p>
                        </div>
                        <div class="user-card__ctas">
                            <button type='submit' class="btn btn-dark mr-2">Select</button>
                            <a href="{% url 'user_edit' user.id %}" class="btn btn-dark mr-2">Edit</a>
                            <a href="{% url 'user_delete' user.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </form>


                {% for sub_user in sub_users %}
                <form action="/select-profile/" method='post'>
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ sub_user.id }}>
                    <input type="hidden" name="user_subuser" value='sub_user'>

                    <div class="user-card ">
                        <img src="/{{  sub_user.image }}" alt="" height='150' class="user-card__img">
                        <div class="user-card__body">
                            <h3 class="user-card__title">{{ sub_user.name }}</h3>
                            {% comment %} <p class="user-card__text mb-1">Height: 6'7"</p> {% endcomment %}
                            <p class="user-card__text mb-1">Gender: {{ sub_user.gender }}</p>
                            <p class="user-card__text mb-1">Age: {{ sub_user.age }}</p>
                            <p class="user-card__text mb-1">Body Size: {% if sub_user.body_size != '' %}{{sub_user.body_size}}{% else %}Please Fill{% endif %} </p>
                            <p class="user-card__text mb-1">Height: {% if sub_user.height != '' %}{{sub_user.height}}{% else %}Please Fill{% endif %} </p>
                        </div>
                        <div class="user-card__ctas">
                            <button type='submit' class="btn btn-dark mr-2">Select</button>
                            <a href="{% url 'subuser_edit' sub_user.id %}" class="btn btn-dark mr-2">Edit</a>
                            <a href="{% url 'subuser_delete' sub_user.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </form>
                {% endfor %}

            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
</body>

</html>